body {
    text-align: center;
    background-color: white;
    color: #3d683f;
    text-align: justify;
    text-justify: inter-word;
    font: Georgia;
}

/* Change the style of the main image in the hole page */
.image img {
    align-items: center;
    width: 700px;
    height: 400px;
    display: block;
    margin-left: 400px;
    margin-right: 100px;
    padding-top: 150px;
    padding-bottom: 50px;
}

/* Set the display and the paddings of the quotes in the webside */
q {
    display: block;
    padding-left: 200px;
}

/* Change the paddings and the size of the important texts in the webside */
.text {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 25px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #d8d8d860;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 9; /* Position the navbar at the top of the page */
    width: 100%;
    padding-left: 150px;

}

/* Style the links inside the top navigation bar */
.topnav a {
    float: left;
    color: #036932;
    text-align: center;
    padding: 20px 150px;
    text-decoration: none;
    font-size: 25px;
    padding-left: 150px;
}

.topnav {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #40ab72;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #036932;
    color: white;
}

.topnav .search-container {
    align-items: center;
    float: right;
    margin-top: 1px;
}

.topnav input[type=text] {
    padding: 10px 10px 10px 10px;
    margin-top: 28px;
    margin-right: 140px;
    font-size: 17px;
}

#about_us {
    text-align: center;
    padding: 50px;
}

.heading {
    margin-bottom: 30px;
    color: #036932;
}

.headline {
    color: #036932;
    font-size: 42px;
}

.subhead {
    color: #333;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.member {
    margin: 20px;
}

.member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.member h3 {
    margin-top: 10px;
    font-size: 20px;
}
p {
    color: #333;
}

.plants {
    text-align: center; /* Center the image horizontally */
}

.plants img {
    width: 50%; /* You can adjust the width as needed */
    height: auto; /* This maintains the aspect ratio */
    display: block; /* Ensure the image behaves as a block element */
    margin: 0 auto; /* Center the image horizontally */
}